## On met les fichiers du dossier config (sauf les .examples)

config/rankconfig.json
config/config.js
config/ignore_users.json

##On met les autres trucs inutiles
package-lock.json
node_modules
.idea