const Discord = require("discord.js");

exports.run = async (client, message, args, key) => {
    
};

exports.conf = {
    name: "",
    aliases: [],
    help: {
        category: "",
        description: "",
        usage: "EF!"
    }
};